@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-dark font-sans antialiased overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

.glass-header {
  @apply bg-white/70 backdrop-blur-md border-b border-black/5;
}

.text-gradient {
  @apply bg-gradient-to-br from-[#1A1A1A] to-[#4A4A4A] bg-clip-text text-transparent;
}
